body{
    background-color: black;
}
.navbar-brand{
    color: chartreuse;
}
.navbar-brand:hover{
    color:white;
}
.nav-link{
    color: chartreuse;
}
.nav-link:hover{
    color: lavender;
}
.home{
    text-align: center;
    padding-top: 60px;
}
.heading1{
    color:aquamarine;
    padding-top: 15px;
    font-family: 'Ubuntu', sans-serif;
    font-weight: 600;
}
.heading2{
    color: white;
    padding-top: 10px;
    font-family: 'Ubuntu', sans-serif;
}