body{
    background-color: black;
}
nav{
 
    font-family: 'Fredoka One', cursive;
  
}
.navbar-brand{
    color: chartreuse;
    padding-left: 3%;
}
.navbar-brand:hover{
    color:white;
}
.nav-link{
    color: chartreuse;
}
.nav-link:hover{
    color: lavender;
}
.home{
    text-align: center;
    padding-top: 30px;
}
.home1{
    width: 90%;
    padding: 0px;
    margin: 25px auto;
    display: flex;
    flex-direction:row;
    justify-content: center;
}
.box{
    width: 250px;
    margin: 0 10px;
}
img{
    display: block;
    width: 100%;
    border-radius: 350px;

}

.box:hover{
    transform: scale(1.1,1.2);
    z-index: 2;
}
.heading1{
    color:aquamarine;
    padding-top: 15px;
    font-family: 'Ubuntu', sans-serif;
    font-weight: 600;
}
.heading2{
    color: white;
    padding-top: 10px;
    font-family: 'Permanent Marker', cursive;
}
